<#include "header.html"/>



<div class="container-fluit">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="question-detail">

                    <p>
                        <a href=""><button class="btn btn-default" type="button">${topic.topicName}</button></a>

                    </p>
                    <div class="question-title">
                        <h3><a href="/question/${question.id}">${question.title}</a></h3>
                    </div>
                    <p>${question.content}</p>
                    <div class="question-meta">
                        <button type="button" class="btn btn-primary">关注问题</button>
                        <a href="/question/${question.id}/answer"><button type="button" class="btn btn-default">写回答</button></a>
                        <span>${question.createdDate?datetime}</span>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="question-right">
                            <p class="text-center">关注者</p>
                            <p class="text-center"><a class="info-num" href="">   </a></p>
                        </div>
                        <div class="question-right">
                            <p class="text-center">被浏览</p>
                            <p class="text-center"><span class="info-num">   </span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div class="site-box">
                <div class="clearfix">
                    <strong> 个回答</strong>
                </div>
                <hr>


                <p>暂时没有回答</p>

            </div>


        </div>

        <div class="col-sm-4">
            <div class="site-box">
                <h4>相关问题</h4>
                <hr>


            </div>
        </div>
    </div>
</div>