<#include "header.html"/>

<div class="container-fluit">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="question-detail">

                    <p>
                        <a href=""><button class="btn btn-default" type="button">${topic.topicName}</button></a>

                    </p>
                    <div class="question-title">
                        <h3><a href="/question/${question.id}">${question.title}</a></h3>
                    </div>
                    <p>${question.content}</p>
                    <div class="question-meta">
                        <button type="button" class="btn btn-primary">关注问题</button>
                        <a href="/question/${question.id}/answerQuestion"><button type="button" class="btn btn-default">写回答</button></a>
                        <span>${question.createdDate?datetime}</span>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="question-right">
                            <p class="text-center">关注者</p>
                            <p class="text-center"><a class="info-num" href="">   </a></p>
                        </div>
                        <div class="question-right">
                            <p class="text-center">被浏览</p>
                            <p class="text-center"><span class="info-num">   </span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div class="site-box">
                <div class="clearfix">
                    <strong>${question.answerCount!} 个回答</strong>
                </div>
                <hr>


<#if vos.list?size gt 0 >

    <#list vos.list as vo>

        <div class="answer-item">

            <div class="media">
                <a target="_blank" href="user/${vo.user.id}" class="media-left"><img width="24" height="24" src="${vo.user.image}" alt="头像" class="media-object"></a>
                <div class="media-body">
                    <h4 class="media-heading"><a target="_blank" href="/user/${vo.user.id}">${vo.user.name}</a></h4>
                    <p class="text-muted">${vo.user.description}</p>
                </div>
            </div>
            <p class="text-muted"> 人赞同了该回答</p>
            <p>
               ${vo.answer.content}
            </p>
            <p class="text-muted">发布于 ${vo.answer.createdDate?datetime}</p>
            <div class="answer-meta">
                <a href=""> <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                </button></a>
                <a href=""> <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-thumbs-down"></span>
                </button></a>
            </div>
        </div>

    </#list>
    <ul class="pagination pagination-lg">

        <#if vos.hasPreviousPage>

            <li>
                <a href="${request.contextPath}/question/${question.id}?pageNum=${vos.prePage}&pageSize=${vos.pageSize}">前一页</a>
            </li>
        </#if>
        <#list vos.navigatepageNums as nav>
            <li class="pageNum">
                <a href="${request.contextPath}/question/${question.id}?pageNum=${nav}&pageSize=${vos.pageSize}">${nav}</a>
            </li>
        </#list>

        <#if vos.hasNextPage>
            <li>
                <a href="${request.contextPath}/question/${question.id}?pageNum=${vos.nextPage}&pageSize=${vos.pageSize}">下一页</a>
            </li>

        </#if>

    </ul>

    <#else>

        <p>暂时没有回答</p>
</#if>


            </div>


        </div>

        <div class="col-sm-4">
            <div class="site-box">
                <h4>相关问题</h4>
                <hr>


            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        var curPage =${vos.pageNum};
        $(".pageNum").each(function () {
            if ($(this).text() == curPage) {
                $(this).addClass("active");
            }
        });
    });
</script>

</body>
</html>