<#include "header.html"/>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="site-box">
                <div class="media">
                    <div class="media-left"><img width="160" height="160" src="${user.image}" alt="头像" class="media-left"></div>
                    <div class="media-body">
                        <h3 class="media-heading username-big">${user.name}</h3>
                        <p>${user.description!}</p>

                        <#if currentUser?? && (currentUser.id)==(user.id)>
                            <div class="text-right"><a href="/user/editProfile">
                                <button class="btn btn-default">编辑个人资料</button>
                            </a></div>
                        </#if>

                        <h5>
                            <input type="hidden" id="entityId" value="${user.id}">
                            <#if currentUser?? && (currentUser.id)!=(user.id) && hasFollowed! ==true>

                                    <button type="button" class="btn btn-secondary follow-btn  ">已关注</button>
                            </#if>
                            <#if currentUser?? && (currentUser.id)!=(user.id) && hasFollowed! ==false>

                                <button type="button" class="btn btn-info follow-btn ">关注TA</button>
                            </#if>

                        </h5>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="site-box">
                <div class="nav nav-pills header-bar">
                    <#if  request.requestUri?ends_with("home") ||request.requestUri?ends_with("question") >
                        <li class="active"><a href="/user/${user.id}/question">提问</a></li>
                        <#else>
                            <li><a href="/user/${user.id}/question">提问</a></li>
                    </#if>
                    <#if  request.requestUri?ends_with("answer")>
                        <li class="active"><a href="/user/${user.id}/answer">回答</a></li>
                        <#else>
                            <li><a href="/user/${user.id}/answer">回答</a></li>
                    </#if>

                </div>
                <hr>
                <h4>
                    <#if currentUser?? && (currentUser.id)==(user.id)>
                        我的问题
                        <#else> Ta的问题
                    </#if>
                </h4>
                <hr>

                <#list userQuestions as question>
                    <div class="trend-item">
                        <h3><a href="/question/${question.id}">${question.title}</a></h3>
                        <p class="text-muted">${question.createdDate?datetime} &middot;${question.answerCount}
                            个回答 &middot; 个关注</p>

                    </div>
                </#list>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="site-box">
                <h4>个人成就</h4>
                <hr>
                <p><span class="glyphicon glyphicon-thumbs-up"></span> 获得 次赞同</p>
                <p><span class="glyphicon glyphicon-star"></span> 获得 次收藏</p>
            </div>
            <div class="site-box">
                <div class="row">
                    <div class="col-sm-6">
                        <p class="text-center">关注数${followeeCount}</p>
                        <p class="text-center"><a class="info-num" href=""></a></p>
                    </div>
                    <div class="col-sm-6">
                        <p class="text-center">粉丝数${followerCount}</p>
                        <p class="text-center"><a class="info-num" href=""></a></p>
                    </div>
                </div>
            </div>

            <div class="site-box">
                <div class="nav nav-pills nav-stacked">
                    <li><a href=""><span class="badge pull-right"></span>收藏的回答</a></li>
                    <li><a href=""><span class="badge pull-right"></span>关注的话题</a></li>
                    <li><a href=""><span class="badge pull-right"></span>关注的问题</a></li>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="${request.contextPath}/js/follow.js"></script>
</body>
</html>